<h1><%= @attraction.name %></h1>

<p>Height Requirement: <%= @attraction.min_height %></p>
<p>Happiness Factor: <%= @attraction.happiness_rating %></p>
<p>Nausea Factor: <%= @attraction.nausea_rating %></p>
<p>Ticket Cost: <%= @attraction.tickets %></p>
<p>Times Ridden: <%= @attraction.rides.count %></p>

<% if @current_user.admin %>
<%= link_to "Edit Attraction", edit_attraction_path %>
<% else %>
<%= form_tag ({controller: 'attractions', action: 'ride', method: 'post'}) do %>
  <input name="user_id" type="hidden" value="<%= @current_user.id %>">
  <input name="attraction_id" type="hidden" value="<%= @attraction.id %>">
  <input type=submit value='Go on this ride'>
<% end %>
<% end %>
